
\[03\] Simulation/**/**.log

\[03\] Simulation/**/**.op.raw

\[03\] Simulation/**/**.raw

\[02\] Magnetic Design/**/**.asv
\[05\] PCB Design/KiCad/Forward_Converter/Forward_Converter-backups/Forward_Converter-2024-12-31_193647.zip
